- name: Create a directory if it does not exist
  file:
    path: /usr/local/mingdao
    state: directory
    
- name: Create a file as the identity file
  shell: touch /usr/local/mingdao/first
    
- name: Pull mingdao docker image & change tag
  shell: |
    docker pull mdpublic/mingdaoyun-community
    docker pull mdpublic/mingdaoyun-doc
    docker tag mdpublic/mingdaoyun-community:latest registry.cn-hangzhou.aliyuncs.com/mdpublic/mingdaoyun-community:2.4.1
    docker rmi mdpublic/mingdaoyun-community:latest
    docker tag mdpublic/mingdaoyun-doc:latest registry.cn-hangzhou.aliyuncs.com/mdpublic/mingdaoyun-doc:1.2.0
    docker rmi mdpublic/mingdaoyun-doc:latest
  
- name: Download mingdao installation tool from {{mingdao_download_url}}
  shell: |
    curl {{mingdao_download_url}} | tar xvz -C /usr/local/mingdao
  args:
    chdir: /tmp

- name: Copy mingdao service 
  copy:
    src: mingdao.service
    dest: /lib/systemd/system/mingdao.service

- name: Restart and Enable mingdao service
  systemd:
    state: restarted
    daemon_reload: yes
    name: mingdao
    enabled: yes

